.fotoFondo{
    width: 100%;
    height:150%;
    background: url('./Imagenes/FondoColegio.jpg') no-repeat;
    background-size:cover ;
    background-repeat:no-repeat; background-position-x:center; 
    background-position: center center;
    padding: 0;
    background-position-y:center;
    background-position: center center; 
    margin:20px;
}
.formaLogin{
display: grid;

grid-template-columns: 50% 50%;

width: 100%;padding: 10px;
margin: 10px;}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.MesaPartes.cuerpo{

margin: 1.5rem;padding: 2rem;
background: rgb(55, 0, 255)  !important;
height: 55rem; width: 78rem;
}

.MesaPartes.cuerpo .cabecera{
    margin: 0.5rem;
    background: rgb(255, 255, 255)  !important;
    height: 7rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.MesaPartes.cuerpo .contenido{
    background: rgb(255, 255, 255)  ;
    height: 40rem;
    margin: 3% 0.5% 0.5% 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  text-decoration: none;
   
}

.MesaPartes.cuerpo .contenido .carta{

    background: rgb(255, 255, 255) ;
    height:40%; margin:3% 2% 2% 0.5%;
    width: 30%;
   display: inline-block;
  border-radius: 15px;
  border: 2px solid rgb(25, 0, 255);
  cursor: pointer;text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.MesaPartes.cuerpo .contenido .carta:hover{

    background: rgb(37, 203, 253) ;

    color:"white"
}

.subCarta{
    color:"black" !important;

}




.MesaPartes.cuerpo .contenido .pie-carta{

    background: rgb(255, 255, 255) ;
    height:30%; margin:2% 5% 5% 9.8%;
    width: 81%;
    padding: 0 ; display: block;
    border-top: 2px solid #000;
    
}
.MesaPartes.cuerpo .contenido .cabecera2{
    background: rgb(255, 255, 255) ;font-weight: 600;
    width: 81%;
    height:2rem; font-size: 30px;
    margin:2% 0.5% 6% 9.8%; padding: 0 ;display: block;
}
.todo-Busqueda{

    background: white;
   
    border-top: 10px rgba(5, 62, 248, 1) solid;
border-radius: 5px; padding: 0; margin: 0;
}
.cabecera-busqueda{
margin-top: 8px;
margin-left: 10px; font-size: 15px; color: blue;
}
.cuerpo-busqueda{

  
padding: 0 1rem 1rem 1rem;
margin:  0 5px 5px 5px;
}
.cabecera{

    height: 4.5rem;
    background: rgb(36, 63, 218);
    display: flex;

  justify-content: space-around;
  

}
.cabecera .items{
display: inline-block;
   

margin:0;
padding: 0;
}
    .cabecera .items .items_Inferior{
        
        display: inline-flex;
        color:rgb(253, 253, 253);
         height: 2.5rem;
         text-align: center;
         align-items: center;
         cursor: pointer;text-decoration: none;
        letter-spacing: 5px; font-size: 20px;
         margin-left: 1rem;
         margin-right: 1rem;
         margin-top: 0.7rem;

    }
    .cabecera .items .items_Inferior-desplegable{
        display: inline-flex; cursor: pointer;  
        font-size: 20px;
        margin-top: 0.7rem;  height: 2.5rem;
        text-align: center;
        align-items: center;  text-overflow: " [..]";
    }

    .develop{
        position: relative;
    }


    .cabecera .items .items_Inferior2{
        display: inline-block;
        margin-right: 20rem;
       color:rgb(253, 253, 253);font-size: 30px;
       letter-spacing: 8px;
        height: 2.5rem;
        text-align: center;
        align-items: center;
        cursor: pointer;text-decoration: none;
       
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.7rem;

    }

    li {
        list-style: none;
        cursor: pointer;
        padding:0.5rem 0 0.5rem 0;
        transition:  all .3s ease 0s;
    }
    
    li:hover {

    }
    .con{
        color:rgb(0, 0, 0);
        font-weight: 500;
   
        text-shadow:rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .con:hover{

color:rgb(255, 255, 255);
    }


    .fondoEntrada{
        
        background-size:cover ;
        background-repeat:no-repeat; 
        background-position: center ;

        display: inline-block;
        max-height: 34.7rem;
        max-width: 100%;
        align-items: center;
    }


    .Cabecera-table{
        margin: 1rem;
        display: inline-block;
    }


    @media only screen and  (min-width:580px) and (max-width: 733px) {
        .cabecera{
            height: 8rem;
        }
        .cabecera .items .items_Inferior{
            font-size: 15px;
        }
        .cabecera .items .items_Inferior2{
            font-size: 25px;
            margin-right: 5rem;
        }
    }
 

    @media only screen and  (min-width: 280px) and (max-width: 550px) {
        .cabecera{
            height:41rem;
        }
        .cabecera .items{
            display: block;
        }
        .cabecera .items .items_Inferior{
            display: block;
            font-size: 8px;  letter-spacing: 5px;
          margin: 1rem;height: auto; width: 7rem;
        }


        .cabecera .items .items_Inferior2{
            display: block;
            font-size: 20px;
            letter-spacing: 10px;
         width: 100%;
            margin: 2rem;
        }
    }


.cuerpo-post-mesa{
    display: grid;
    grid-template-columns: 10% 80% 10%;
 
}
.navIma{
  
 
    background-size:cover ;
    background-repeat:no-repeat; 
    background-position: center ;
background-color: red;
    display: inline-block;
    height: 34.666rem;
    max-width: 100%;
    align-items: center;

}
.tamañoTable{
    width: 20px;
}
.field{
    margin-top: 0.5rem;
}

.radioButtonMesaPartes{
    display: inline-block;
    margin: 2px;
}
.cuerpoRadio{
    display: block;

}

.DataMuestra{

border-radius: 10px;
border: 2px solid black ;
padding: 0.5rem;
margin-top: 0.5rem;


text-shadow:rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




